body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 10px;
    text-align: center;
    background-color: #f40101;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    margin-right: 15px;
}

nav {
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #f40101;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    background-color: #f40101;
    color: white;
    text-align: center;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
   

 