body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 10px;
    text-align: center;
    background-color: #f40101;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    margin-right: 15px;
    border-radius: 50%;
}

nav {
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #f40101;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    background-color: #f40101;
    color: white;
    text-align: center;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 80%;
    margin: auto;
}

.mySlides {
    display: flex;
    align-items: center;
}

.mySlides img {
    width: 100vw; /* Make width fill the entire viewport width */
    height: 80vh; /* Make height fill the entire viewport height */
    border-radius: 10px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 1; /* Ensure buttons are above the image */
    background-color: rgba(0,0,0,0); /* Make buttons invisible */
}

.slideshow-container:hover .prev, 
.slideshow-container:hover .next {
    background-color: rgba(0,0,0,0.5); /* Make buttons visible on hover */
}

.prev {
    left: 10px; /* Position left button inside the image */
    border-radius: 3px 0 0 3px;
}

.next {
    right: 10px; /* Position right button inside the image */
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


